#section1{
    background-image:url('media/contact.jpg');
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#formWithInfo{
    margin-top: 65px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    height: 65%;
    background-color: rgba(97, 98, 109, 0.534);
}

#cwu{
    font-size: 100px;
}

form{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 90%;
    height: 70%;
}

form input{
    color: black;
    border-style:none;
    padding:10px;
    background:rgba(255, 252, 252, 0.822);
}
input::-webkit-input-placeholder {
    top: 1%;
}

form #emailinput{
    border-style: none;
    padding: 10px;
    background:rgba(255, 252, 252, 0.822);
    width: 50%;
    left: 0%;
}

form #topicinput{
    border-style:none;
    padding:10px;
    background:rgba(255, 252, 252, 0.822);
    width: 100%;
}

form #messageinput{
    border-style:none;
    padding:10px;
    background:rgba(255, 252, 252, 0.822);
    width: 100%;
    height: 65%
}

textarea {
    color:black;
    resize: none;
}

@media screen and (max-width: 800px){
    #formWithInfo{
        width: 100%;
        height: 90%;
    }
    #cwu{
        font-size: 50px;
    }
}