#section1{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    overflow-y: scroll;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: black;
    z-index:1;
}

main{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:80%;
    align-items: center;
    justify-content: space-around;
}

img{
    padding:5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:700px;
    height:500px;
}

img:hover{
    cursor:pointer;
}

#lightbox{
    display: none;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.575);
    z-index:99;
}
#lightboxImg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:90%;
    width:80%;
}

@media screen and (max-width: 800px){
    #lightboxImg{
        height:50%;
        width:100%;
    }
    img{
        width:350px;
        height:250px;
    }
}