#background{
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 1;
}

#form{
    position: relative;
    display:flex;   
    width:300px;
    padding-right: 50px;
    background-color:rgba(183, 186, 199, 0.733);
}
#form #textinput{
    width:100%;
    position: relative;
    border-style:none;
    padding:10px;
    background:transparent;
}
#form #submitbutton{
    background:transparent;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height:100%;
    border-style:none;
}

#bigContainer{
    margin-top: 2%;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
}
.container{
    position:relative;
    top:5%;
    width:600px;
    height:400px;
    padding:10px;
    background:linear-gradient(to top right, rgba(142, 143, 156, 0.452), rgba(86, 89, 139, 0.493));
}
#map{
    position:relative;
    width:600px;
    height:400px;
}
.containerElement{
    padding:5px;
}
#timezone{
    font-size:25px;
}
#day{
    font-size:40px;
    color:rgb(252, 252, 9);
    padding-bottom: 0px;
}
#date{
    font-size:25px;
    color:rgb(252, 252, 9);
    padding-top: 0px;
    
}
#temperature{
    position:absolute;
    left:48%;
    top:20%;
    font-size:80px;
    color:rgb(255, 248, 244);
}
#pressure{
    margin-top:20px;
}
#summary{
    margin-top:40px;
    font-size:30px;
}

.forecastDay{
    font-size:30px;
    color:rgb(252, 252, 9);
}
.forecastDate{
    font-size:20px;
    color:rgb(252, 252, 9);
}
.forecastIcon{
    font-size:30px;
}

.hourlyHour{
    font-size:20px;
    color:rgb(252, 252, 9);
    text-align: center;
}


#forecastContainer{
    position:relative;
    align-content:center;
    display:flex;
    justify-content: center;
    margin-top:-3%;
    top:18%;
}
.forecastElement{
    position:relative;
    padding:10px;
    border: 1px solid transparent;
    background-color:rgba(150, 164, 185, 0.295);
    width:12%;
    cursor: pointer;
}

.forecastElement:hover{
    border: 1px solid white;    
}

.forecastElement:active{
    box-shadow: inset 0px 0px 10px  rgb(175, 177, 212);
    background-color:rgba(66, 74, 85, 0.445);
}
.forecastElement:hover .rotated{
    border-top-color:rgb(255, 255, 255);
}

.rotated{
    display:none;
    position:absolute;
    width:30px;
    height:30px;
    left:50%;
    margin-left:-15px;
    bottom:-31px;
    background-color:transparent;
    border-top-width:15px; border-bottom-width:15px; border-right-width:15px; border-left-width:15px;
    border-top-color:rgba(150, 164, 185, 0.582);
    border-top-style:solid;
    border-right-style:solid;border-right-color:transparent;
    border-bottom-style: solid;border-bottom-color:transparent;
    border-left-style: solid;border-left-color:transparent;
}


#btnHourlyContainer{
    position: relative;
    display:none;
    top:12%;
    animation:fadein 1s;
}
@keyframes fadein{
    from{opacity:0;}
    to{opacity:1;}
}

#hourlyDisplay{
    display:flex;
    position:relative;
    overflow:hidden;
    left: 5%;
    width:90%;
}
.hourlyContainer{
    position:relative;
    display:flex;
    align-content: center;
    justify-content: space-around;
}

.hourlyElement{
    padding:10px;
    position:relative;
    width:9vw;
    border:1px solid rgb(184, 188, 204);
    background-color:rgba(150, 164, 185, 0.295);
}

.arrowBtn{
    cursor: pointer;
    position:absolute;
    border:2px solid transparent;
    border-radius: 50%;
    width:60px;
    height:60px;
    top:50%;
    margin-top:-30px;
}

#buttonLeft{
    left:1.5%; 
}
#buttonRight{    
    right:1.5%;
}
#buttonRight:hover{
    border:2px solid rgb(176, 180, 194);
}
#buttonLeft:hover{
    border:2px solid rgb(176, 180, 194);
}
.arrowBtn:active{
    background-color:rgba(165, 163, 173, 0.548);
}
#arrow1{
    position:relative;
    width:40px;
    height:40px;
    font-size: 40px;
    top:50%;
    left:50%;
    margin-left:-15px;
    margin-top:-20px;
}
#arrow2{
    position:relative;
    width:40px;
    height:40px;
    font-size: 40px;
    top:50%;
    left:50%;
    margin-left:-10px;
    margin-top:-20px;
}

.forecastSummary{ 
    width:100%;
}

@media screen and (max-width: 1150px){

    #bigContainer{
        flex-direction: column;
    }
}

@media screen and (max-width: 1500px){

    #forecastContainer{
        margin-left: 3%;
        margin-right: 3%;
        overflow-x: scroll;
        justify-content: left;
        margin-bottom: 10%;
    }

    .forecastElement{
        width:250px;
    }

    #hourlyDisplay{
        margin-bottom: 10%;
        overflow-x: scroll;
    }

    .arrowBtn{
        display:none;
    }

    .hourlyElement{
        width: 100px;
    }

}