*{
    box-sizing:border-box;
    color: white;
    letter-spacing:0.5px;
    font-family: 'Nunito Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    margin:0;
}
#section1{
    position: relative;
    height:100vh;
    width:100vw;
    background-size: 100% 100%;
    background-repeat:no-repeat;
}
#formContainer{
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
}
#form{
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:5px;
}
.formElement{
    margin-left:5px;
}
#bigContainer{
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
}
.container{
    position:relative;
    top:5%;
    width:600px;
    height:400px;
    padding:10px;
    background:linear-gradient(to top right, rgba(142, 143, 156, 0.452), rgba(86, 89, 139, 0.493));
}
#map{
    position:relative;
    width:600px;
    height:400px;
}
.containerElement{
    padding:5px;
}
#timezone{
    font-size:25px;
}
#day{
    font-size:40px;
    color:rgb(252, 252, 9);
    padding-bottom: 0px;
}
#date{
    font-size:25px;
    color:rgb(252, 252, 9);
    padding-top: 0px;
    
}
#temperature{
    position:absolute;
    left:48%;
    top:20%;
    font-size:80px;
    color:rgb(245, 203, 148);
}
#pressure{
    margin-top:20px;
}
#summary{
    margin-top:40px;
    font-size:30px;
}

.forecastDay{
    font-size:30px;
    color:rgb(252, 252, 9);
}
.forecastDate{
    font-size:20px;
    color:rgb(252, 252, 9);
}
.forecastIcon{
    font-size:30px;
}

.hourlyHour{
    font-size:20px;
    color:rgb(252, 252, 9);
    text-align: center;
}


#textinput{
    border-style:none;
    border-radius: 10px;
    padding:10px;
    background-color:rgba(183, 186, 199, 0.733);
}

#submitbutton{
    height:40px;
    width:150px;
    background-color:rgba(183, 186, 199, 0.445);
    border-style:none;
}

#submitbutton:hover{
    background-color:rgba(123, 218, 79, 0.842);
}
#submitbutton:active{
    box-shadow: inset 0px 0px 30px  rgb(175, 177, 212);
}

input:focus{
    outline:none;
}

button:focus{
    outline:none;
}

#refreshButton{
    height:40px;
    width:90px;
    background-color:rgba(183, 186, 199, 0.445);
    border-style:none;
}
#refreshButton:hover{
    background-color:rgba(105, 223, 51, 0.842);
    box-shadow: inset 0px 0px 30px  rgb(168, 238, 178);
}
#refreshButton:active{
    box-shadow: inset 0px 0px 30px  rgb(175, 177, 212);
}

#forecastContainer{
    position:relative;
    align-content:center;
    display:flex;
    justify-content: center;
    margin-top:-3%;
    top:18%;
}


.forecastElement{
    position:relative;
    padding:10px;
    border: 1px solid transparent;
    background-color:rgba(150, 164, 185, 0.295);
    width:12%;
}

.forecastElement:hover{
    border: 1px solid white;    
}

.forecastElement:active{
    box-shadow: inset 0px 0px 10px  rgb(175, 177, 212);
    background-color:rgba(66, 74, 85, 0.445);
}
.forecastElement:hover .rotated{
    border-top-color:rgb(255, 255, 255);
}

.rotated{
    display:none;
    position:absolute;
    width:30px;
    height:30px;
    left:50%;
    margin-left:-15px;
    bottom:-31px;
    background-color:transparent;
    border-top-width:15px; border-bottom-width:15px; border-right-width:15px; border-left-width:15px;
    border-top-color:rgba(150, 164, 185, 0.582);
    border-top-style:solid;
    border-right-style:solid;border-right-color:transparent;
    border-bottom-style: solid;border-bottom-color:transparent;
    border-left-style: solid;border-left-color:transparent;
}


#btnHourlyContainer{
    position: relative;
    display:none;
                        /*border:3px solid green;*/
    top:12%;
    animation:fadein 1s;
}
@keyframes fadein{
    from{opacity:0;}
    to{opacity:1;}
}


#hourlyDisplay{
    display:flex;
    position:relative;
                       /* border:3px solid blue;*/
    overflow:hidden;
    left: 5%;
    width:90%;
}
.hourlyContainer{
    position:relative;
    display:flex;
    align-content: center;
    justify-content: space-around;
}

.hourlyElement{
    padding:10px;
    position:relative;
    width:9vw;
    border:1px solid rgb(184, 188, 204);
    background-color:rgba(150, 164, 185, 0.295);
}


#buttonLeft{
    position:absolute;
    border:2px solid transparent;
    border-radius: 50%;
    width:60px;
    height:60px;
    top:50%;
    margin-top:-30px;
    left:1.5%;
    
}
#buttonRight{
    position:absolute;
    border:2px solid transparent;
    border-radius: 50%;
    width:60px;
    height:60px;
    top:50%;
    margin-top:-30px;
    right:1.5%;
}
#buttonRight:hover{
    border:2px solid rgb(176, 180, 194);
}
#buttonLeft:hover{
    border:2px solid rgb(176, 180, 194);
}
.arrowBtn:active{
    background-color:rgba(165, 163, 173, 0.548);
}
#arrow1{
    position:relative;
    width:40px;
    height:40px;
    font-size: 40px;
    top:50%;
    left:50%;
    margin-left:-15px;
    margin-top:-20px;
}
#arrow2{
    position:relative;
    width:40px;
    height:40px;
    font-size: 40px;
    top:50%;
    left:50%;
    margin-left:-10px;
    margin-top:-20px;
}



.forecastSummary{ 
    width:100%;
}